monitor =   (

                {   name        = "Fuel_Remaining";
                    datatype    = "float";
                    reporttype  = "basic";
                    variable    = "SPageFilePhysics_fuel";
                    minormax    = "min";
                    afile0      = "./sounds/voice/fuel/plenty_of_fuel/2.wav";
                    thresh      = [5.0, 10.0, 15.0, 20.0];
                    afiles      = ["voice/fuel/two_laps_fuel/2.wav", "voice/fuel/three_laps_fuel/2.wav",
                                    "voice/fuel/four_laps_fuel/2.wav", "voice/fuel/half_tank_warning/2.wav"];
                    enabled     = true;
                    repeat      = "lap";
                },

                {   name        = "Tyre_Wear_LF";
                    datatype    = "float";
                    reporttype  = "basic";
                    variable    = "SPageFilePhysics_tyreWear0";
                    minormax    = "min";
                    thresh      = [25.0, 50.0];
                    afile0      = "";
                    enabled     = false;
                    repeat      = "lap";
                },

                {   name        = "Tyre_Wear_RF";
                    datatype    = "float";
                    reporttype  = "basic";
                    variable    = "SPageFilePhysics_tyreWear1";
                    minormax    = "min";
                    thresh      = [25.0, 50.0];
                    afile0      = "";
                    enabled     = false;
                    repeat      = "lap";
                },

                {   name        = "Tyre_Wear_RR";
                    datatype    = "float";
                    reporttype  = "basic";
                    variable    = "SPageFilePhysics_tyreWear2";
                    minormax    = "min";
                    thresh      = [25.0, 50.0];
                    afile0      = "";
                    enabled     = false;
                    repeat      = "lap";
                },

                {   name        = "Tyre_Wear_LR";
                    datatype    = "float";
                    reporttype  = "basic";
                    variable    = "SPageFilePhysics_tyreWear3";
                    minormax    = "min";
                    thresh      = [25.0, 50.0];
                    afile0      = "";
                    enabled     = false;
                    repeat      = "lap";
                },

                {   name        = "Tyre_Wear_All";
                    datatype    = "float";
                    reporttype  = "summary";
                    minormax    = "min";
                    afile0      = "voice/tyre_monitor/good_wear/2.wav";
                    afiles      = ["voice/tyre_monitor/worn_all_round/2.wav", "voice/tyre_monitor/minor_wear_all_round/2.wav"];
                    ref1        = "Tyre_Wear_LF";
                    ref2        = "Tyre_Wear_RF";
                    ref3        = "Tyre_Wear_RR";
                    ref4        = "Tyre_Wear_LR";
                    enabled     = true;
                    repeat      = "lap";
                },

                {   name        = "Tyres_Out";
                    datatype    = "int";
                    reporttype  = "basic";
                    variable    = "SPageFilePhysics_numberOfTyresOut";
                    minormax    = "max";
                    thresh      = [3];
                    afile0      = "";
                    afiles      = ["voice/penalties/cut_track_in_prac_or_qual/2.wav"];
                    enabled     = true;
                    repeat      = "lap";
                },
            );
